.cover__background {
    background-image: url(../../../images/cover-trains.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-decoration: none;
    min-height: 740px;
  }
  
  
  .cover__background:before {
    content: '';
    position: absolute;
    background: #2A2C2F;
    opacity: .3;
    transition: opacity .3s ease;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
  
  .cover__background:hover::before {
    opacity: .8;
  }

  @media screen and (max-width: 1024px) {
    .cover__background {
    min-height: 640px;
    }
  }
  
  /* 768 */
  @media screen and (max-width: 768px) {
    .cover__background {
    min-height: 480px;
    }
  }
  
  
  @media screen and (max-width: 320px) {
    .cover__background {
    min-height: 200px;
    }
  }